<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <!--
    (for flask)
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    -->
    <link rel="stylesheet" href="../static/landing.css">
</head>
<body>
    <div class="container">
        <h1>Track Your Movie's</h1>
        <p>search for movies, add them to your watch list, and see reveiws.</p>
        <div class="nav-buttons">
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
</body>
</html>